body {
  font-family:"Roboto", system-ui, sans-serif;
  line-height: 1.6;
  background-color:#F7E1FF;
  font-size: 17px;
  margin:0;
}

header {
    color:black;
    text-align: center;
    padding: 20px;
}

main {
  max-width: 65ch;
  padding: 2rem;
  text-align: center;
  margin-inline: auto;
}

h1 {text-align: center;
border-style: groove;
padding: auto;
margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 2.5rem 0 0.75rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 2.5rem 0 0.75rem 0;
}


p{text-align: center;
color:#112A46;
margin: 0 0 1.25rem 0;
}

.card {border-style:outset;
   border-color: black;
    border-spacing: 23px;
    padding: auto;
    border-radius: 5px;
    margin: 23px;
    border-spacing: auto;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    line-height: 1.6;
    font-size: 17px;
}

ul,li{text-align: center
}

